body {
  background: rgb(2, 2, 4);
  font: normal 15pt arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 620px;
  margin: auto;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.379);
}

#campoValor {
  margin-top: 17px;
  width: 138px;
  height: 160px;
}

#finalizar {
  width: 138px;
}

footer {
  font-style: italic;
  color: white;
  text-align: center;
}
